<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600" rel="stylesheet">
  <link rel="stylesheet" href="./spectre.css">
  <link rel="stylesheet" href="./popup.css">
</head>
<body>
  <header>
    <div class="brand-icon">     
      <img width="30" src="../images/icon_32.png" alt="Deep Mode Icon" />
      <span class="text-bold">deepmode</span>
    </div>
    <div id="options">
      <img width="30" src="../images/settings.png" alt="Settings Icon">
    </div>
  </header>
  <div id="content">
    <div v-if="user" id="set-task">
      <div id="task-description">
        <h6>Task Description</h6>
        <input
          class="form-input"
          v-model="currentTaskDescription"
          type="text"
          name="task"
          placeholder="Brief task description">
      </div>
      <div id="categories">
        <h6>Edit Categories:</h6>
        <p v-if="!currentTaskCategories.length && !categoriesLoading">
          <em>No categories yet, they will appear here once a task has been set.</em>
        </p>
        <div v-if="categoriesLoading">
          Loading...
        </div>
        <ul v-if="!categoriesLoading">
          <li class="category-tag" v-for="(category, i) in currentTaskCategories">
            <span class="chip">
              {{ category }}
              <a href="#" v-on:click="removeCategory(i)" class="btn btn-clear" aria-label="Close" role="button"></a>
            </span>
          </li>
        </ul>
      </div>
      <button class="btn" v-on:click="setTask">Set Task</button>
    </div>
    <div id="auth" v-else>
      <h5>Signup</h5>
      <button class="btn" id="google-signup">Signup with Google</button>
      <button class="btn" id="std-signup">Signup with email/password</button>
      <p>Already registered? Login below</p>
      <button class="btn" id="login">Login</button>
    </div>
  </div>
  <script src="../dependencies/algoliasearch.js"></script>
  <script src="../dependencies/instantsearch.js"></script>
  <script src="../dependencies/vue.js"></script>
  <script src="./api.js"></script>
  <script src="./popup.js"></script> 
  <script src="../auth/oauth.js"></script> 
</body>
</html>
